{{> header }}

    {{> navbar }}

    <div class="row">
        <div class="col">
            <h1>About me</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto totam ratione nostrum! Ducimus nihil voluptas cumque voluptates error. Modi totam, quis ipsam iste ratione saepe a magnam natus deserunt assumenda!</p>
        </div>
        <div class="col">
            <img src="assets/img/flash.png" class="img-thumbnail">
        </div>
    </div>

{{> footer }}